@use "igniteui-angular/theming" as *;
@use "sass:map";

$include: (
  igx-ripple,
  igx-icon,
  igx-button,
  igx-input-group,
  igx-drop-down,
  igx-select,
  igx-dialog,
  igx-tooltip,
  igx-toast,
  igx-overlay,
  igx-checkbox
);

@include core();
@include theme(
  $palette: $default-palette,
  $schema: $dark-material-schema,
  $exclude: map.keys(map.remove($components, $include...))
);

$custom-input-group: input-group-theme(
  $filled-text-color: #ffffff,
  $focused-text-color: #ffffff,
  $idle-text-color: #ffffff,
  $idle-bottom-line-color: #ffffff,
  $interim-bottom-line-color: #ffffff,
  $hover-bottom-line-color: #ffffff,
  $focused-secondary-color: #facc15,
);
$custom-drop-down-group: drop-down-theme(
  $selected-item-background: #e5e7eb,
  $selected-hover-item-background: #e5e7eb,
  $selected-focus-item-background: #e5e7eb,
);
$custom-dialog-theme: dialog-theme(
  $background: #172554,
);
@include css-vars($custom-input-group);
@include css-vars($custom-drop-down-group);
@include css-vars($custom-dialog-theme);

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Correção para o dialog da tela de lista de baralhos
.igx-dialog__window {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
}
